# UI
./drug-ui/.DS_Store
./drug-ui/node_modules
./drug-ui/dist


# local env files
./drug-ui/.env.local
./drug-ui/.env.*.local

# Log files
./drug-ui/npm-debug.log*
./drug-ui/yarn-debug.log*
./drug-ui/yarn-error.log*
./drug-ui/pnpm-debug.log*

# Editor directories and files
./drug-ui/.idea
./drug-ui/.vscode
./drug-ui/*.suo
./drug-ui/*.ntvs*
./drug-ui/*.njsproj
./drug-ui/*.sln
./drug-ui/*.sw?

# spring boot
./drug-orm/HELP.md
./drug-orm/target/
./drug-orm/!.mvn/wrapper/maven-wrapper.jar
./drug-orm/!**/src/main/**
./drug-orm/!**/src/test/**

### STS ###
./drug-orm/.apt_generated
./drug-orm/.classpath
./drug-orm/.factorypath
./drug-orm/.project
./drug-orm/.settings
./drug-orm/.springBeans
./drug-orm/.sts4-cache

### IntelliJ IDEA ###
./drug-orm/.idea
./drug-orm/*.iws
./drug-orm/*.iml
./drug-orm/*.ipr

### NetBeans ###
./drug-orm/nbproject/private/
./drug-orm/nbbuild/
./drug-orm/dist/
./drug-orm/nbdist/
./drug-orm/.nb-gradle/
./drug-ormbuild/

### VS Code ###
./drug-orm/.vscode/
