<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<link rel="stylesheet" href="../static/css/login.css">
	</head>

	<body>
		<div class="register_box">
			<h1 class="title">欢迎注册</h1>
			<input class="button_box" type="button" onclick="window.location.href='./login.html'" value="返回登录">
			<input name="username" class="input_box" type="text" placeholder="用户名：请输入长度在 20 以内的字符串">
			<input name="password" class="input_box" type="password" placeholder="密码：请输入长度在 10 以内的字符串">
			<input name="e-mail" class="input_box" type="text" placeholder="输入邮箱">
			<select name="ident" class="input_box">
				<option>管理员(默认)</option>
				<option>中医</option>
				<option>西医</option>
			</select>

			<input class="vertify_button_box" type="button" value="获取验证码" onclick="doSendVertifyCode()">
			<input name="vCode" class="input_box" type="text" placeholder="点击上面按钮获取验证码">

			<input class="button_box" type="button" value="注册" onclick="doRegister()">
		</div>
	</body>

	<script src="../static/js/jquery.js"></script>

	<script>
		function doSendVertifyCode() {
			const username = $('input[name="username"]').val();
			const password = $('input[name="password"]').val();
			const email = $('input[name="e-mail"]').val();
			const ident = $('select[name="ident"]').val();
			// VERTIFY
			// chinses character
			if ((/.*[\u4e00-\u9fa5]+.*$/).test(username) || (/.*[\u4e00-\u9fa5]+.*$/).test(password)) {
				alert("用户名或密码中不能包含汉字字符 请重新输入")
				return false;
			}
			// length
			if (username.length > 20 || username.length == 0 || password.length > 10 || password.length == 0) {
				alert("输入的信息应该在指定长度范围之内 请重新输入")
				return false;
			}
			// match e-mail
			const emailPattern = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
			if (!emailPattern.test(email)) {
				alert("请输入正确格式的邮箱")
				return false;
			}

			// LOCK attr
			$('input[name="username"]').attr("disabled", "disabled");
			$('input[name="password"]').attr("disabled", "disabled");
			$('input[name="e-mail"]').attr("disabled", "disabled");
			$('select[name="ident"]').attr("disabled", "disabled");

			// request to send code
			let identCode = 3;
			if (ident == "中医") {
				identCode = 2;
			} else if (ident == "西医") {
				identCode = 1;
			}
			SendVertifyCode(username, email, identCode)
		}

		function SendVertifyCode(username, email, ident) {
			$.ajax({
				url: 'http://localhost:8080/api/hr/saveAndSendCode', //提价的路径
				type: "get", //提交方式
				data: {
					//向后台提交的数据
					username,
					email,
					ident
				},
				dataType: "text", //规定请求成功后返回的数据
				success: function(data) {
					//请求成功之后进入该方法，data为成功后返回的数据
					console.log(data);
					const err = JSON.parse(data);
					if (err.type == "duplicate username") {
						alert("用户名已存在 请刷新后重新注册")
					} else if (err.type == "email-sending failed") {
						alert("验证码发送服务出错 请联系管理员")
					} else {
						alert("验证码已发送 请注意查收");
						return true;
					}
					alert("请刷新重试")
					return false;
				},
				error: function(errorMsg) {
					//请求失败之后进入该方法，errorMsg为失败后返回的错误信息
					alert("请求失败 !!! 出错了 !!!")
				}
			});
		}

		// 不跳转，显示 信息
		function doRegister() {
			const username = $('input[name="username"]').val();
			const password = $('input[name="password"]').val();
			const email = $('input[name="e-mail"]').val();
			const ident = $('select[name="ident"]').val();
			let identCode = 3;
			if (ident == "中医") {
				identCode = 2;
			} else if (ident == "西医") {
				identCode = 1;
			}
			
			// VERTIFY
			// chinses character
			if ((/.*[\u4e00-\u9fa5]+.*$/).test(username) || (/.*[\u4e00-\u9fa5]+.*$/).test(password)) {
				alert("用户名或密码中不能包含汉字字符 请重新输入")
				return false;
			}
			// length
			if (username.length > 20 || username.length == 0 || password.length > 10 || password.length == 0) {
				alert("输入的信息应该在指定长度范围之内 请重新输入")
				return false;
			}
			// match e-mail
			const emailPattern = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;
			if (!emailPattern.test(email)) {
				alert("请输入正确格式的邮箱")
				return false;
			}
			const vCode = $('input[name="vCode"]').val();
			if (vCode.length != 6) {
				alert("请检查输入的验证码的格式是否正确");
				return false;
			}

			$.ajax({
				// 检查对应的 username 是否有正确的 vCode
				url: 'http://localhost:8080/api/hr/doValidateAndStoreInfo', //提价的路径
				type: "get", //提交方式
				data: {
					//向后台提交的数据
					username,
					password,
					vCode,
					ident: identCode
				},
				dataType: "text", //规定请求成功后返回的数据
				success: function(data) {
					//请求成功之后进入该方法，data为成功后返回的数据
					const err = JSON.parse(data)
					if (err.type == "username undefined") {
						alert("用户名未定义 请确保获取过验证码")
					} else if (err.type == "vCode mismatched") {
						alert("输入的验证码有误")
					} else {
						alert("注册成功 !!! 请返回登录界面重新尝试登录");
						return true;
					}
					alert("身份信息不符 \n 请检查验证码是否有误或切换邮箱进行注册")
					return false;
				},
				error: function(errorMsg) {
					//请求失败之后进入该方法，errorMsg为失败后返回的错误信息
					alert("请求失败 !!! 出错了 !!!")
				}
			});
		}
	</script>

</html>
