body {
    background-color: #8ea4f8;
}
.login_box {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px;
    overflow: hidden;
}
.register_box {
    width: 400px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px;
    overflow: hidden;
}
.title {
    text-align: center;
    font-size: 28px;
    color: #000;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-family: sans-serif;
}
.input_box {
    width: 300px;
    height: 30px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 50px;
}
.button_box {
    /* width: 300px;
    height: 35px; */
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #64a9d9;
    cursor: pointer;
    color: #fff;
}
.vertify_button_box {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: rgb(252, 105, 73);
    cursor: pointer;
    color: #fff;
}
.login_button_box {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 5px;
    background-color: rgb(252, 105, 73);
    cursor: pointer;
    color: #fff;
}